h1 {
  color: hotpink;
  font-family: cursive;
}

body {
  min-height: calc(100vh - 56px);
  background-color: #01295f;
}

.col {
  /** 
    * Ustaw minimalną wysokość kolumny na 100% wysokości widoku
    * 100vh (100% viewport height, czyli 100% okna przegladarki) - 56px (odejmuje wysokosc navbara)
  */
  min-height: calc(100vh - 56px);
}

.invisible {
  opacity: 0;
}

.bg-body-tertiary {
  background-color: #f5b841 !important;
}

.search-item {
  margin: auto;
}
